In [12]:
import datetime
print(f"Last updated: {datetime.datetime.now()}")

Last updated: 2025-01-23 22:25:26.942853

In [5]:
import pandas as pd
fight_results = pd.read_csv("fight_results.csv")
fight_results.isna().sum()

EVENT          0
BOUT           0
OUTCOME        0
WEIGHTCLASS    0
METHOD         0
ROUND          0
TIME           0
TIME FORMAT    0
REFEREE        0
DETAILS        0
URL            0
dtype: int64

In [3]:
events = pd.read_csv("fight_event.csv")
events.isna().sum()

EVENT       0
URL         0
DATE        0
LOCATION    0
dtype: int64

In [4]:
fight_details = pd.read_csv("fight_details.csv")
fight_details.isna().sum()

EVENT    0
BOUT     0
URL      0
dtype: int64

In [6]:
fight_stats = pd.read_csv("fight_stats.csv")
fight_stats.isna().sum()

EVENT         0
BOUT          0
ROUND         0
FIGHTER       0
KD            0
SIG.STR.      0
SIG.STR. %    0
TOTAL STR.    0
TD            0
TD %          0
SUB.ATT       0
REV.          0
CTRL          0
HEAD          0
BODY          0
LEG           0
DISTANCE      0
CLINCH        0
GROUND        0
dtype: int64

In [9]:
fighter_details = pd.read_csv("fighter_details.csv")
fighter_details.isna().sum()

FIRST          2
LAST           2
NICKNAME    1913
URL            0
dtype: int64

In [10]:
fighter_details["NICKNAME"].fillna("", inplace=True)
fighter_details.isna().sum()

C:\Users\cadeb\AppData\Local\Temp\ipykernel_23228\2569229660.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  fighter_details["NICKNAME"].fillna("", inplace=True)

FIRST       2
LAST        2
NICKNAME    0
URL         0
dtype: int64

In [11]:
fighter_details.dropna(inplace=True)
fighter_details.isna().sum()

FIRST       0
LAST        0
NICKNAME    0
URL         0
dtype: int64

In [8]:
fighter_tott = pd.read_csv("fighter_tott.csv")
fighter_tott.isna().sum()

FIGHTER    0
HEIGHT     0
WEIGHT     0
REACH      0
STANCE     0
DOB        0
URL        0
dtype: int64